<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.authine.cloudpivot.ext.mapper.SwStoreMapper">
  <resultMap id="BaseResultMap" type="com.authine.cloudpivot.ext.entity.SwStore">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="creater" jdbcType="VARCHAR" property="creater" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updater" jdbcType="VARCHAR" property="updater" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleted" jdbcType="TINYINT" property="deleted" />
    <result column="ys_result" jdbcType="VARCHAR" property="ysResult" />
    <result column="tran_no" jdbcType="VARCHAR" property="tranNo" />
    <result column="biz_object_id" jdbcType="VARCHAR" property="bizObjectId" />
    <result column="workflow_instance" jdbcType="VARCHAR" property="workflowInstance" />
    <result column="end_commit" jdbcType="TINYINT" property="endCommit" />
    <result column="store_name" jdbcType="VARCHAR" property="storeName" />
    <result column="store_address" jdbcType="VARCHAR" property="storeAddress" />
    <result column="store_pic" jdbcType="VARCHAR" property="storePic" />
    <result column="is_enabled" jdbcType="TINYINT" property="isEnabled" />
    <result column="store_goods_num" jdbcType="INTEGER" property="storeGoodsNum" />
    <result column="store_goods_sku_num" jdbcType="INTEGER" property="storeGoodsSkuNum" />
    <result column="store_admin" jdbcType="VARCHAR" property="storeAdmin" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, creater, create_time, updater, update_time, deleted, ys_result, tran_no, biz_object_id, 
    workflow_instance, end_commit, store_name, store_address, store_pic, is_enabled, 
    store_goods_num, store_goods_sku_num, store_admin
  </sql>
  <select id="selectByExample" parameterType="com.authine.cloudpivot.ext.entity.SwStoreCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sw_store
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sw_store
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sw_store
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.authine.cloudpivot.ext.entity.SwStoreCriteria">
    delete from sw_store
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.authine.cloudpivot.ext.entity.SwStore">
    insert into sw_store (id, creater, create_time, 
      updater, update_time, deleted, 
      ys_result, tran_no, biz_object_id, 
      workflow_instance, end_commit, store_name, 
      store_address, store_pic, is_enabled, 
      store_goods_num, store_goods_sku_num, store_admin
      )
    values (#{id,jdbcType=VARCHAR}, #{creater,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updater,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{deleted,jdbcType=TINYINT}, 
      #{ysResult,jdbcType=VARCHAR}, #{tranNo,jdbcType=VARCHAR}, #{bizObjectId,jdbcType=VARCHAR}, 
      #{workflowInstance,jdbcType=VARCHAR}, #{endCommit,jdbcType=TINYINT}, #{storeName,jdbcType=VARCHAR}, 
      #{storeAddress,jdbcType=VARCHAR}, #{storePic,jdbcType=VARCHAR}, #{isEnabled,jdbcType=TINYINT}, 
      #{storeGoodsNum,jdbcType=INTEGER}, #{storeGoodsSkuNum,jdbcType=INTEGER}, #{storeAdmin,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.authine.cloudpivot.ext.entity.SwStore">
    insert into sw_store
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="creater != null">
        creater,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updater != null">
        updater,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="ysResult != null">
        ys_result,
      </if>
      <if test="tranNo != null">
        tran_no,
      </if>
      <if test="bizObjectId != null">
        biz_object_id,
      </if>
      <if test="workflowInstance != null">
        workflow_instance,
      </if>
      <if test="endCommit != null">
        end_commit,
      </if>
      <if test="storeName != null">
        store_name,
      </if>
      <if test="storeAddress != null">
        store_address,
      </if>
      <if test="storePic != null">
        store_pic,
      </if>
      <if test="isEnabled != null">
        is_enabled,
      </if>
      <if test="storeGoodsNum != null">
        store_goods_num,
      </if>
      <if test="storeGoodsSkuNum != null">
        store_goods_sku_num,
      </if>
      <if test="storeAdmin != null">
        store_admin,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=TINYINT},
      </if>
      <if test="ysResult != null">
        #{ysResult,jdbcType=VARCHAR},
      </if>
      <if test="tranNo != null">
        #{tranNo,jdbcType=VARCHAR},
      </if>
      <if test="bizObjectId != null">
        #{bizObjectId,jdbcType=VARCHAR},
      </if>
      <if test="workflowInstance != null">
        #{workflowInstance,jdbcType=VARCHAR},
      </if>
      <if test="endCommit != null">
        #{endCommit,jdbcType=TINYINT},
      </if>
      <if test="storeName != null">
        #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="storeAddress != null">
        #{storeAddress,jdbcType=VARCHAR},
      </if>
      <if test="storePic != null">
        #{storePic,jdbcType=VARCHAR},
      </if>
      <if test="isEnabled != null">
        #{isEnabled,jdbcType=TINYINT},
      </if>
      <if test="storeGoodsNum != null">
        #{storeGoodsNum,jdbcType=INTEGER},
      </if>
      <if test="storeGoodsSkuNum != null">
        #{storeGoodsSkuNum,jdbcType=INTEGER},
      </if>
      <if test="storeAdmin != null">
        #{storeAdmin,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.authine.cloudpivot.ext.entity.SwStoreCriteria" resultType="java.lang.Long">
    select count(*) from sw_store
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sw_store
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.creater != null">
        creater = #{record.creater,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updater != null">
        updater = #{record.updater,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deleted != null">
        deleted = #{record.deleted,jdbcType=TINYINT},
      </if>
      <if test="record.ysResult != null">
        ys_result = #{record.ysResult,jdbcType=VARCHAR},
      </if>
      <if test="record.tranNo != null">
        tran_no = #{record.tranNo,jdbcType=VARCHAR},
      </if>
      <if test="record.bizObjectId != null">
        biz_object_id = #{record.bizObjectId,jdbcType=VARCHAR},
      </if>
      <if test="record.workflowInstance != null">
        workflow_instance = #{record.workflowInstance,jdbcType=VARCHAR},
      </if>
      <if test="record.endCommit != null">
        end_commit = #{record.endCommit,jdbcType=TINYINT},
      </if>
      <if test="record.storeName != null">
        store_name = #{record.storeName,jdbcType=VARCHAR},
      </if>
      <if test="record.storeAddress != null">
        store_address = #{record.storeAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.storePic != null">
        store_pic = #{record.storePic,jdbcType=VARCHAR},
      </if>
      <if test="record.isEnabled != null">
        is_enabled = #{record.isEnabled,jdbcType=TINYINT},
      </if>
      <if test="record.storeGoodsNum != null">
        store_goods_num = #{record.storeGoodsNum,jdbcType=INTEGER},
      </if>
      <if test="record.storeGoodsSkuNum != null">
        store_goods_sku_num = #{record.storeGoodsSkuNum,jdbcType=INTEGER},
      </if>
      <if test="record.storeAdmin != null">
        store_admin = #{record.storeAdmin,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sw_store
    set id = #{record.id,jdbcType=VARCHAR},
      creater = #{record.creater,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      updater = #{record.updater,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      deleted = #{record.deleted,jdbcType=TINYINT},
      ys_result = #{record.ysResult,jdbcType=VARCHAR},
      tran_no = #{record.tranNo,jdbcType=VARCHAR},
      biz_object_id = #{record.bizObjectId,jdbcType=VARCHAR},
      workflow_instance = #{record.workflowInstance,jdbcType=VARCHAR},
      end_commit = #{record.endCommit,jdbcType=TINYINT},
      store_name = #{record.storeName,jdbcType=VARCHAR},
      store_address = #{record.storeAddress,jdbcType=VARCHAR},
      store_pic = #{record.storePic,jdbcType=VARCHAR},
      is_enabled = #{record.isEnabled,jdbcType=TINYINT},
      store_goods_num = #{record.storeGoodsNum,jdbcType=INTEGER},
      store_goods_sku_num = #{record.storeGoodsSkuNum,jdbcType=INTEGER},
      store_admin = #{record.storeAdmin,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.authine.cloudpivot.ext.entity.SwStore">
    update sw_store
    <set>
      <if test="creater != null">
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        updater = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=TINYINT},
      </if>
      <if test="ysResult != null">
        ys_result = #{ysResult,jdbcType=VARCHAR},
      </if>
      <if test="tranNo != null">
        tran_no = #{tranNo,jdbcType=VARCHAR},
      </if>
      <if test="bizObjectId != null">
        biz_object_id = #{bizObjectId,jdbcType=VARCHAR},
      </if>
      <if test="workflowInstance != null">
        workflow_instance = #{workflowInstance,jdbcType=VARCHAR},
      </if>
      <if test="endCommit != null">
        end_commit = #{endCommit,jdbcType=TINYINT},
      </if>
      <if test="storeName != null">
        store_name = #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="storeAddress != null">
        store_address = #{storeAddress,jdbcType=VARCHAR},
      </if>
      <if test="storePic != null">
        store_pic = #{storePic,jdbcType=VARCHAR},
      </if>
      <if test="isEnabled != null">
        is_enabled = #{isEnabled,jdbcType=TINYINT},
      </if>
      <if test="storeGoodsNum != null">
        store_goods_num = #{storeGoodsNum,jdbcType=INTEGER},
      </if>
      <if test="storeGoodsSkuNum != null">
        store_goods_sku_num = #{storeGoodsSkuNum,jdbcType=INTEGER},
      </if>
      <if test="storeAdmin != null">
        store_admin = #{storeAdmin,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.authine.cloudpivot.ext.entity.SwStore">
    update sw_store
    set creater = #{creater,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      updater = #{updater,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=TINYINT},
      ys_result = #{ysResult,jdbcType=VARCHAR},
      tran_no = #{tranNo,jdbcType=VARCHAR},
      biz_object_id = #{bizObjectId,jdbcType=VARCHAR},
      workflow_instance = #{workflowInstance,jdbcType=VARCHAR},
      end_commit = #{endCommit,jdbcType=TINYINT},
      store_name = #{storeName,jdbcType=VARCHAR},
      store_address = #{storeAddress,jdbcType=VARCHAR},
      store_pic = #{storePic,jdbcType=VARCHAR},
      is_enabled = #{isEnabled,jdbcType=TINYINT},
      store_goods_num = #{storeGoodsNum,jdbcType=INTEGER},
      store_goods_sku_num = #{storeGoodsSkuNum,jdbcType=INTEGER},
      store_admin = #{storeAdmin,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="swstorelist" resultType="com.authine.cloudpivot.ext.model.vo.SwStoreListVo">
      SELECT
         se.store_name as storename,
         se.store_address as storeaddress,
         se.store_pic as storepic,
         se.store_goods_num as storegoodsnum,
         se.store_goods_sku_num as storegoodsskunum,
         se.store_admin as storeadmin,
         se.id as meetingId
      FROM  `sw_store`  se
      WHERE
      se.is_enabled = 1
      AND  se.deleted = 0
      AND se.end_commit = 1
      order by store_goods_sku_num desc
  </select>

  <select id="swstoresistupdate" resultType="com.authine.cloudpivot.ext.model.dto.SwStoreListUpdateDto">
         SELECT
             se.store_name as storename,
             se.store_address as storeaddress,
             se.store_goods_num as storegoodsnum,
              se.store_goods_sku_num as storegoodsskunum,
              se.store_admin as storeadmin,
              se.id as id
         FROM
         `sw_store` se
         WHERE
         se.id = #{meetingId}

  </select>

  <update id="updateswstoreedit" parameterType="com.authine.cloudpivot.ext.model.vo.SwStoreListUpdateVo">
      update  `sw_store` se
      set  se.store_name =#{storename},
           se.store_address =#{ storeaddress},
           se.store_goods_num =#{ storegoodsnum},
           se.store_goods_sku_num =#{ storegoodsskunum},
           se.store_admin =#{ storeadmin}
           where se.id=#{id}
    </update>

<!--    仓库条件查询   -->
  <select id="swstorelistselect" resultType="com.authine.cloudpivot.ext.model.vo.SwStoreListselectVo">
      SELECT
         se.store_name as storename,
         se.store_address as storeaddress,
         se.store_pic as storepic,
         se.store_goods_num as storegoodsnum,
         se.store_goods_sku_num as storegoodsskunum,
         se.store_admin as storeadmin
      FROM
      `sw_store` se
      WHERE
      se.store_name =#{storename}
      AND (se.create_time between #{createtime} and #{updatetime}
      OR se.update_time between #{createtime} and #{updatetime}  )
    </select>
</mapper>